<app-sidebar></app-sidebar>
  <h1> About US</h1>&nbsp;&nbsp;

        <img src="assets/banner.png">

        <body>
          <div class="jumbotron text-center">
            <h1>SKY CLIFF IT SOLUTION</h1>
            <p>Inspired by Innovation Driven by Dedication</p>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <h3>HEALTH CARE</h3>
                <p>
                  YourDrs combines modern technology with 30 years of medical
                and surgical practice management experience to create a unique
                 platform which brings patients, providersproviders, case managers
                attorneys, insurance carriers..
              </p>
              </div>
              <div class="col-sm-4">
                <h3>TRAVEL & HOSPITALITY</h3>
                <p>Hospitality companies are constantly re-assessing their
                   business strategies to enable positive customer experiences.
                  Skycliff IT's innovative solutions will improve customer
                   retention rates and drive business revenues.
                </p>
              </div>
              <div class="col-sm-4">
                <h3>RETAIL & E-COMMERCE</h3>
                <p>Today's retail environment offers ever-expanding
                  opportunity while also posing unprecedented challenges.
                  Our solutions helps businesses in handling complexity
                  in retail from POS--Back office--Warehouse and Corporate office.
                </p>
              </div>
              <div class="col-sm-4">
                  <h3>INSURANCE</h3>
                  <p>
                    With our extensive experience in Insurance segment,
                    we get our hands dirty with the blend of technology
                    & well defined processes, so you can focus on your
                    business’s frontline issues.
                </p>
                </div>
                <div class="col-sm-4">
                    <h3>BUSINESS PROCESS MANAGEMENT</h3>
                    <p>
                        As a management discipline, BPM, helps companies
                        optimize operational processes. We identify critical
                        Key Performance Indicators (KPIs)
                        in the end to end process...
                  </p>
                  </div>
                  <div class="col-sm-4">
                      <h3>
                          PLATFORMS & SOFTWARE PRODUCTS</h3>
                      <p>
                          consistent on-time delivery
                          and proven results built on over a decade of
                          domain knowledge and diverse technology expertise
                          in the IT outsourcing industry.
                    </p>
                    </div>
            </div>
          </div>
        </body>
        <footer class="page-footer font-small blue pt-4">
          <div class="">
              <div class="container">
                  <div class="row">
                      <div class="col-md-3 footer-center text-left"> <img src="assets/logo.png" alt=""> </div>
                      <div class="col-md-6 footer-left text-left text-center">
                          © 2018 All Rights Reserved for Skycliff IT PVT. LTD
                      </div>
                      <i class="fa fa-facebook text-xs circle"></i>
                  </div>
              </div>
          </div>
        </footer>



